:root {
    --neon--c: #03DAC5;
    --white: rgb(255, 255, 255);
    --black: rgb(0, 0, 0);
    --unselected: #BB86FC;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    margin: 0;
    background: var(--black);

}

.container {
    position: relative;
    background: var(--black);
    min-height: 100vh;
    height: 100%;
}

section{
    position: absolute;
    width: 100%;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
    display: none;
}

.show-section{
    opacity: 1;
    pointer-events: all;
}

.top {
    position: relative;
    display: grid;
    grid-template-columns: 100%;
    justify-items: right;
    align-items: center;
}

.main-logo {
    margin: 30px;
    max-width: 400px;
}

.rest {
    position: relative;
    margin: 100px auto 0 auto;
    width: 90%;
    color: var(--white);
    text-align: center;
    font-size: 2.5rem;
}

p {
    font-size: 2.3rem;
}

.rest-1 > p:nth-of-type(1) {
    margin-bottom: 70px;
}

h1>span:nth-of-type(2) {
    color: var(--neon--c);
}

button {
    border: 1px var(--neon--c) solid;
    border-radius: 7px;
    font-size: 1.9rem;
    min-width: 350px;
    padding: 10px 40px;
    cursor: pointer;
    transition: all 0.2s;
    cursor: pointer;
}

.rest-1 > button:nth-of-type(1), .gen-story > button:nth-of-type(1){
    background-color: var(--neon--c);
    color: var(--black);
}

.rest-1 > button:nth-of-type(1):hover,  .gen-story > button:nth-of-type(1):hover {
    color: var(--neon--c);
    background-color: var(--black);
}

.rest-1 > button:nth-of-type(2),  .gen-story > button:nth-of-type(2) {
    color: var(--neon--c);
    background-color: var(--black);
}

input{
    min-width: 200px;
    min-height: 30px;
    padding: 10px;
    width: 30%;
    font-size: 1.2rem;
}

.rest-2 > input{
    margin-top: 100px;
}

.rest-2 > img{
    display: block;
    margin: 0 auto;
    width: 100px;
    height: 100px;
    margin-top: 60px;
    display: none;
}



.word-puke{
    color: var(--unselected);
}

/* .rest-3{
    text-align: initial;
} */

pre{
    display: inline;
    cursor: pointer;
    opacity: 0;
}

.gen-story{
    display: grid;
    grid-template-columns: auto auto auto;
    width: 50%;
    margin: 20px auto;
    align-items: center;
    column-gap: 20px;
}

.gen-story > button{
    min-width: 400px;
}

.multiple-prompts{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
    font-size: 1.6rem;
    width: 90%;
    margin: 0 auto;
}


.prompt{
    color: var(--black);
    background-color: var(--white);
    padding: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.multiple-prompts > .prompt:hover{
    background-color: var(--unselected);
    color: var(--black);
}

.selected-prompt{
    background-color: var(--unselected);
    color: var(--black);
}

.rest-4 > button{
    background-color: var(--neon--c);
    margin: 30px 0;
}

.rest-5 > div > .prompt{
    font-size: 2rem;
    width: 80%;
    margin: 10px auto;
    cursor: default;
    pointer-events: none;
}


.result{
    height: 0;
    overflow: hidden;
    transition: height 1s;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-items: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}

.res > p:nth-of-type(1){
    font-size: 1.9rem;
    color: var(--neon--c);
    margin: 5px 0;
}

.res > p:nth-of-type(2){
    font-size: 1.6rem;
    color: var(--black);
    padding: 10px 20px;
    background-color: var(--white);
    border-radius: 5px;
    min-width: 100px;
}

.show-res{
    height: 200px;
}


.rest-5 > div > .prompt > span::after{
    content: " ";
}

.rest-5 > div > .prompt > span{
    /* display: inline; */
    padding: 5px 0;
    padding-left: 5px;
    border-radius: 5px;
}

.type > input{
    font-size: 1.5rem;
    width: auto;
}

.type{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    align-items: center;
    /* justify-items: center; */
    width: 70%;
    margin: 20px auto;
}

.type > p{
    display: block;
    margin: 0 auto;
    width: 50%;
    font-size: 1.8rem;
}

.stats{
    padding: 5px;
    border: 1px var(--neon--c) solid;
}

.type{
    height: 0;
    overflow: hidden;
    transition: height 0.5s;
}

.typeitout{
    height: 100px;
}

.wpm{
    color: var(--unselected);
}

.wpm > span{
    color: var(--white);
}

.show-section-display{
    display: block;
}

.grid-div{
    display: grid;
    grid-template-columns: 80% 20%;
}

.rest-4-5 > div > h1{
    font-size: 2.7rem;
    width: 80%;

}

.grid-div > .right > h1{
    margin-top: 0;
    color: var(--neon--c);
    font-size: 2.5rem;
} 

.keys > p{
    font-size: 1.7rem;
}

.left > textarea{
    min-height: 50%;
    min-width: 70%;
    border-radius: 7px;
    padding: 25px;
    font-size: 1.8rem;
    margin: 20px auto;
}

.left > button{
    background-color: var(--neon--c);
    color: var(--black);
    margin: 30px auto;

}

.left > button:hover{
    color: var(--neon--c);
    background-color: var(--black);
}




.current-word { background-color: #dddddd; }
.correct-word-c { color: #93C572; }
.incorrect-word-c { color: #e50000; }
.incorrect-word-bg { background-color: #e50000; }


@media(max-width: 800px){
    html{
        font-size: 12px;
    }
    .top{
        justify-items: center;
    }
    .main-logo{
        max-width: 300px;
    }
    .word-puke{
        font-size: 2.0rem;

    }
    .gen-story{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        width: 90%;
        margin: 50px auto;
        align-items: center;
        justify-items: center;
        column-gap: 20px;
    }
    .gen-story > button{
        min-width: 100%;
    }
    .multiple-prompts{
        grid-template-columns: 100%;
    }
    .type{
        margin: 30px auto;
        width: 100%;
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
        row-gap: 20px;
    }
    .typeitout{
        height: 200px;
    }
    .result{
        grid-template-columns: none;
        grid-template-rows: auto auto auto;
    }
    .show-res{
        height: 400px
    }    
}





.selected{
    color: #6A0DAD;
}

.show{
    display: block!important;
}